body {
	position: relative;
	margin: 0;
	padding: 0;
}

.bottom {
	position: absolute;
	background-color: white;
	width: 100%;
	bottom: 0;
	height: 20%;
}

.splash {
	position: absolute;
	background-color:gray;
	width: 100%;
	height: 80%;
}

#crossword {
	overflow-y: scroll;
}

#crosswordBoardAndClues {
	position: relative;
}

#board {
	position: relative;
	background-color:gray;
	float: left;
	width: 50%;
	height: 100%;
}

table {
	position: relative;
	float: right;
	margin-right: 25px;
}

#clues {
	position: relative;
	background-color:gray;
	float: right;
	width: 50%;
	height: 100%;
}

.cluelist {
	height: 50%;
	width: 50%;
	overflow: scroll;
	background-color:white;
}

.cluelist div {
	border-top: solid black 1px;
	position: relative;
}


.cluelist div.answered {
	background-color: gray;
}

.cluelist div.highlighted {
	background-color: yellow;
}

td {	
	width: 30px; 
	height: 30px;
	border: 0px;
	padding: 0;
	position: relative;

	font-size: 18px;
	font-family: Courier New; 				
	font-weight: bold;
	text-align: center;			
}

td.highlighted {
	background-color: yellow;
}

.nonCell {
	background-color: #000000;
}

.unanswered {
	background-color: #FFFFFF;	
}

#guessStuff {
	position: relative;
	text-align: center;
}

form {
	margin: 0;
}

#players {
	border: solid 1px #aaa;  
	text-align: center;  
	font-size: 20px;  
	letter-spacing: 35px;  
	white-space: nowrap;  
	line-height: 12px;  
	overflow: hidden; 
}

.playerBox {
	width: 100px;  
	height: 90px;  
	letter-spacing: 0;  
	line-height: 30px;  
	border: solid 1px #ccc;  
	display: inline-block;  
	vertical-align: middle;  
}

.playerName {
	width: 100px;
	font-size: 20px;
}

.playerStatus {
	width: 100px;
	font-size: 15px;
}

.playerScore {
	font-size: 30px;
}

.smallNumber {
	position: absolute;
	top: 0;
	left: 0;
	width: 15%;
	height: 15%;
	z-index: 50;
	font-size: 10px;
}
